Options +FollowSymLinks
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /PHP_Proj/FiveSenses-Restaurant-Management-System/PHP_Proj/FiveSenses-Restaurant-Management-System/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /PHP_Proj/FiveSenses-Restaurant-Management-System/index.php
</IfModule>
